

.button {
    -fx-text-fill: black;
}

#topBox {
    /*-fx-border-color: black;*/
    -fx-max-height: 400;
}

#addListButton {
    -fx-alignment: top-right;
}

.listPane {
	-fx-text-alignment: center;
	-fx-border-width: 1px 0px 1px 0px;
	-fx-border-color: black;
}